@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Importa fonte do Google Fonts */


*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', monospace;
}

h1{
    color: #e9c80cf8;
    font-size: 40px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 255px;
    background-image: url(/imgs/labirinto.jpg);
    
}


img{
    width: 630px;
}