@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
}


html {
    scroll-behavior: smooth;
}


body {
    background-image: url(/imgs/labirinto.jpg);
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid #c4c62a;
}

header h1 {
    font-style: italic;
}

h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: 25px;
    padding: 5%;
    color: #f2ff03;
    cursor: default;
}

h2 {
    font-size: 9px;
}


header.nerdbar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1%;
    background-color: #302f2f;
    flex-direction: row;
    justify-content: space-between;
    height: 130px;
    position: sticky;
    z-index: 100;
}

div.logo img {
    height: 150px;
    padding: 3%;
}



div.minaazul img {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 120px;
    background-image: url(imgs/cad.labirinto.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(233, 199, 7, 0.774);
    margin: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
}

div.logo img:hover {
    transform: rotate(720deg);
    transition: transform 1s ease;

}

div.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
    font-family: 'Press Start 2P', monospace;
}

div.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    font-size: 18px;
    gap: 5%;
}

div.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e0e31d;
    font-size: 10px;
}

nav {
    display: flex;
    gap: 25px;
    font-size: 10px;
}

nav a:hover {
    cursor: pointer;
    animation: pisca-cor 1s infinite;
}

#menu {
    display: none;
    /* Esconde o menu */
}


h1 a {
    text-decoration: none;
    /* Remove sublinhado */
    color: #f2ff03;
    /* Cor do título */
    transition: color
}

@keyframes pisca-cor {
    0% {
        color: #FF0000;
    }

    25% {
        color: #FFB8FF;
    }

    50% {
        color: #00FFFF;
    }

    75% {
        color: #FFB852;
    }

    100% {
        color: #FF0000;
    }
}




/*camisa*/

section {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    margin-bottom: 10%;

}


div.minaazul img {
    height: 540px;
    width: 490px;
    display: flex;
    top: 30px;

}


/*div camisa*/

div.minaazul {

    align-items: center;
}


/*caixa de compra*/


.caixa {
    background-color: #0a0a2a;
    padding: 2%;
    border-radius: 15px;
    height: 539px;
    box-shadow: 0 0 20px rgba(233, 199, 7, 0.774);
    position: relative;
    top: 51px;
    width: 450px;
}

/*preço*/

.preco {
    font-size: 38px;
    font-weight: bolder;
    color: #ffcc00;
    margin-bottom: 15px;
    cursor: default;
    /* margin-top: -20px; */
}

/*Parcelamento*/

.parcelamento {
    font-size: 14px;
    /* font-weight: bold; */
    color: #e9c80c;
    background-color: #111110;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: default;
}

/*Tamanho*/

label {
    font-size: 25px;
    color: #f5f5f5;
    margin-right: 20px;
    padding: 10;
}

/*caixa do tamanho*/

select {
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(202, 177, 242);
    padding: 10px;
    background-color: #e9c80cf8;
}


/*Complementos*/


.caixa #nome-produto {
    font-size: 230%;
    /* margin-bottom: 30px; */
    color: #e9c80cf8;
    cursor: default;

}

.caixa #descricao-produto {
    font-size: 144%;
    margin-bottom: 57px;
    color: #e3e3e3;
    margin-top: 18px;
    cursor: default;
}

div.caixa #botaocompra {
    font-size: 30px;
    padding: 17px;
    border-radius: 40px;
    position: relative;
    top: 40px;
    left: 45px;
}


#botaocompra:hover {
    cursor: pointer;
    background-color: #e9c80cf8;
    color: #f5f5f5;
}

@media screen and (max-width:769px) {
    /*body do cadastro*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Press Start 2P', monospace;
        /* Fonte padrão */
        font-weight: 500;
        /* Peso da fonte */
        text-align: left;
    }


    body {
        background-image: url(imgs/labirinto.jpg);
        font-family: 'Press Start 2P', monospace;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        /* justify-content: center; esse comando alem de alinhar ao centro pode causar problemas com a visualização da tela, pois ira centralizar tudo e nao ficará nada colado ao topo */
        /* margin: 10%;  O margin na body pode causar problemas de layout, especialmente com o header fixo. 
    se tirarmos o margin será melhor para o layout geral. Alem disso, o height foi ajustado para 300vh para evitar problemas de rolagem.*/

    }


    #menu {
        display: block;
        /* Exibe o menu */
        color: #e5e900;
        align-items: center;
        position: relative;
        top: -37px;
    }

    ul#menu-list {
        display: flex;
        /* Exibe os links em linha */
        flex-direction: column;
        /* Muda direção para coluna */
        align-items: center;
        /* Centraliza links */
        gap: 10px;
        /* Espaço entre links */
    }

    #jogar {
        display: none;
    }


    /*header*/
    header {
        position: sticky;
        top: 0;
        left: 0;
        width: 160%;
        border-bottom: solid #e5e900;

    }

    /* */
    header.nerdbar {
        flex-direction: column;
        /* Muda direção para coluna */
        align-items: center;
        /* Centraliza itens */
    }

    /*logo no header*/
    div.logo img {
        height: 120px;
        padding: 1px;
        margin-right: 20px;
    }


    div.logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-style: italic;
        justify-content: flex-end;
    }

    div.navbar {
        flex-direction: column;
        /* Muda direção para coluna */
        gap: 10px;
        /* Espaço entre links reduzido */
    }

    div.navbar a {
        text-decoration: none;
        text-transform: uppercase;
        color: #e5e900;
        font-size: 12px;
        padding: 7px;

    }

    nav a:hover {
        cursor: pointer;
        animation: pisca-cor 1s infinite;
    }

    @keyframes pisca-cor {
        0% {
            color: #FF0000;
        }

        25% {
            color: #FFB8FF;
        }

        50% {
            color: #00FFFF;
        }

        75% {
            color: #FFB852;
        }

        100% {
            color: #FF0000;
        }
    }

    h1 {
        font-family: 'Press Start 2P', monospace;
        font-size: 25px;

        padding: 5%;
        color: #f2ff03;
    }

    section {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: row;
        margin-bottom: 10%;

    }


    div.minaazul img {
        height: 540px;
        width: 490px;
        display: inline;
        top: 70px;
        left: 70px;
    }


    /*div camisa*/

    div.minaazul {

        align-items: center;


    }


    /*caixa de compra*/


    .caixa {
        background-color: #0a0a2a;
        padding: 1%;
        border-radius: 15px;
        height: 670px;
        box-shadow: 0 0 20px rgba(233, 199, 7, 0.774);
        position: relative;
        top: 700px;
        width: 630px;
        right: 500px;
        align-content: center;

    }

    /*preço*/

    .preco {
        font-size: 40px;
        font-weight: bolder;
        color: #ffcc00;
        margin-bottom: 32px;
        cursor: default;
        /* margin-top: -20px; */
    }

    /*Parcelamento*/

    .parcelamento {
        font-size: 14px;
        /* font-weight: bold; */
        color: #e9c80c;
        background-color: #111110;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 40px;
        cursor: default;

    }

    /*Tamanho*/

    label {
        font-size: 25px;
        color: #d8d4d4;
        margin-right: 20px;
        padding: 10;
    }

    /*caixa do tamanho*/

    select {
        font-size: 14px;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0 0 10px rgb(202, 177, 242);
        padding: 10px;
        background-color: #e9c80cf8;
    }


    /*Complementos*/


    .caixa #nome-produto {
        font-size: 230%;
        /* margin-bottom: 30px; */
        color: #e9c80cf8;
        cursor: default;
        margin-bottom: 40px;
        margin-right: 500px;

    }

    .caixa #descricao-produto {
        font-size: 144%;
        margin-bottom: 100px;
        color: #e3e3e3;
        margin-top: 18px;
        cursor: default;

    }

    div.caixa #botaocompra {
        font-size: 30px;
        padding: 17px;
        border-radius: 40px;
        position: relative;
        top: 10px;


    }


    #botaocompra:hover {
        cursor: pointer;
        background-color: #e9c80cf8;
        color: #f5f5f5;

    }

    ul#listamenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #menu {
        display: block;
        /* Exibe o menu */
        color: #e5e900;
        align-items: center;
        position: relative;
        top: -37px;
        left: 35px;
        margin-bottom: 1px;

    }

    nav.link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        background-color: #302f2f;
        top: -18%;

    }



}