* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 600;
}


html {
    scroll-behavior: smooth;
}


body {
    background-image: url(/imgs/labirinto.jpg);
    width: 100%;
    font-family: 'Fredoka One', sans-serif;
    height: 400vh;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid #FCBD00;
}

header.nerdbar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1%;
    background-color: #302f2f;
    flex-direction: row;
    justify-content: space-between;
    height: 130px;
    position: sticky;
    z-index: 100;

}

div.logo img {
    height: 150px;
    padding: 3%;
}


div.logo img:hover {
    transform: rotate(720deg);
    transition: transform 1s ease;

}


h1 {
    color: #FCBD00;
    font-style: italic;
    font-size: 30px;
}

div.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    justify-content: space-around;
}

div.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    font-size: 18px;
    gap: 5%;
}

div.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f506fdf5;
}

nav {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

nav a:hover {
    color: #FCBD00;
    cursor: pointer;
}


   /*camisa*/

div.minaazul img{
    height: 700px;
    width: 600px;
    display: flex;
    margin-top: 100px;
    margin-right: 800px;
}


     /*div camisa*/

div.minaazul{
    height: 10px;
    width: -20px;
    margin-left: 15%;
    margin-bottom: 20%;
    display: inline-block;
}


        /*caixa de compra*/

.caixa {
    background-color: #0a0a2a;
    padding: 100px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(233, 199, 7, 0.774);
    margin-left: 55%;
    margin-bottom: 100px;
    column-rule-style: groove;
    
}



     /*preço*/

.preco {
    font-size: 40px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 10px;
    

}    

    /*Parcelamento*/

.parcelamento {
    font-size: 25px;
    font-weight: bold;
    color: #afa40d;
    background-color: #111110;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor:unset;
}

     /*Tamanho*/

label {
    font-size: 20px;
    color: #fafafa;
    margin-right: 20px;
    
}

          /*caixa do tamanho*/

select {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(62, 11, 144);
    padding: 15px;
    background-color: #cfc7ec;
}

 /*famoso salva vidas, não mexam nisso ou mato alguem hoje*/

div.comp h1 {
    font-size: 60px;
    margin-left: 800px;
    margin-bottom: -80px;
}


      /*Complementos*/

.caixa #descricao-produto  {
    font-size: 24px;
    margin-bottom: 60px;


}

.caixa #nome-produto {
    font-size: 50px;
    margin-bottom: 5px;
    color: #220ce972;
}