@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', sans-serif;
  font-weight: 600;

}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;



}


body {
  background-image: url(/imgs/labirinto.jpg);
  width: 100%;
  font-family: 'Fredoka One', sans-serif;
  height: 350vh;

}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid #FCBD00;

}

header.nerdbar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1%;
  background-color: #302f2f;
  flex-direction: row;
  justify-content: space-between;
  height: 130px;
  position: sticky;
  z-index: 100;

}

div.logo img {
  height: 150px;
  padding: 3%;
}



div.logo img:hover {
  transform: rotate(720deg);
  transition: transform 1s ease;
  
}

div.Banner-Principal {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 2%;
  gap: 5%;
  position: relative;
  top: -57px;
  left: 0;

  z-index: 10;

  text-align: center;

}



#pacman {
  width: 40%;
  height: 40%;
}

#banner {
  width: 50%;
  height: 40%;
  
}

h2 {
  color: violet;
}

h1 {
  color: #FCBD00;
  font-style: italic;
  font-size: 30px;
}

div.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
  justify-content: space-around;
}

div.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  font-size: 18px;
  gap: 5%;
}

div.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e5e900;
}

nav {
  display: flex;
  gap: 25px;
  font-size: 18px;
}

nav a:hover {
  color: #f400fc;
  cursor: pointer;
}




.camisa {
  width: 500px;
  height: 500px;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;

}

div.card {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease;


}

div.card a {
  text-decoration: none;
  color: #FCBD00;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;

}

div.card a:hover {
  color: #f506fdf5;
  
}

div.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px #FCBD00;
}

div.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

#pacgelo {
  width: 300px;
  height: 310px;
  position: absolute;
  top: 156%;
  left: 80%;
  z-index: 25;
  margin-left: 80px;
  padding: 2%;
}

#pacfogo {
  width: 320px;
  height: 390px;
  position: absolute;
  padding: 2%;

  top: 209%;
  right: 85%;
  z-index: 25;
  margin-left: 80px;
}


div.Btop {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5%;
  position: absolute;
  top: 320%;
  left: 90%;
  transform: translateX(-50%);
  z-index: 30;
  width: 100%;
}

div.Btop a {
  text-decoration: none;
}

div.Btop p{
 color: #FCBD00;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 16px;
    position: relative;
    right: 900px;
    top: 238px;

}
#fala {
  width: 20%;
  position: relative;
  left: 77px;
}

.old {
  position: relative;
  top: 178px;

}


div.pacman {
  position: absolute;
  top: 75%;
  left: 42%;
}

.pacman-top {
  background-color: yellow;
  height: 100px;
  width: 200px;
  border-radius: 100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom {
  background-color: yellow;
  height: 100px;
  width: 200px;
  border-radius: 0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
  margin-top: -185px;
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 30%;
  -moz-animation: eat 1s linear 0s infinite;
  -webkit-animation: eat 1s linear 0s infinite;
  animation: eat 1s linear 0s infinite;
}

/* Animation*/

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }

}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }
}

@-moz-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }

}

@-moz-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-35deg);
  }

}

@-webkit-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }
}

@keyframes eat {
  0% {
    box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;
  }

  100% {
    box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;
  }
}



@-moz-keyframes eat {
  0% {
    box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;
  }

  100% {
    box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;
  }
}


@-webkit-keyframes eat {
  0% {
    box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;
  }

  100% {
    box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;
  }
}